
body {
	font-size: 20px;
}

.tr-1 {
	background-color: green;
	transition: all 0.5s ease-in-out;
}

.tr-1:hover {
	background-color: pink;
	transition: all 0.5s ease-in-out;
}

.tr-2 {
	color: red;
	background-color: blue;
	transition: all 1s ease-in-out;
}

.tr-2:hover {
	font-size: 40px;
	background-color: black;
	color: yellow;
	transition: all 1s ease-in-out;
}